# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [34]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## Regression Model Evaluation

In [35]:
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
data = pd.read_csv('housing.csv', header=None, delimiter=r"\s+", names=column_names)

In [36]:
"""
CRIM - per capita crime rate by town
ZN - proportion of residential land zoned for lots over 25,000 sq.ft.
INDUS - proportion of non-retail business acres per town.
CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)
NOX - nitric oxides concentration (parts per 10 million)
RM - average number of rooms per dwelling
AGE - proportion of owner-occupied units built prior to 1940
DIS - weighted distances to five Boston employment centres
RAD - index of accessibility to radial highways
TAX - full-value property-tax rate per $10,000
PTRATIO - pupil-teacher ratio by town
B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
LSTAT - % lower status of the population
MEDV - Median value of owner-occupied homes in $1000's"""

"\nCRIM - per capita crime rate by town\nZN - proportion of residential land zoned for lots over 25,000 sq.ft.\nINDUS - proportion of non-retail business acres per town.\nCHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)\nNOX - nitric oxides concentration (parts per 10 million)\nRM - average number of rooms per dwelling\nAGE - proportion of owner-occupied units built prior to 1940\nDIS - weighted distances to five Boston employment centres\nRAD - index of accessibility to radial highways\nTAX - full-value property-tax rate per $10,000\nPTRATIO - pupil-teacher ratio by town\nB - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\nLSTAT - % lower status of the population\nMEDV - Median value of owner-occupied homes in $1000's"

In [37]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [38]:
# Your code here :

from sklearn.model_selection import train_test_split

# Define X and y
X = data.drop(columns=["MEDV"]).values
y = data["MEDV"].values

# Split the data into 80% training and 20% testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X.shape)
print(y.shape)

(506, 13)
(506,)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [39]:
# Your code here :

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Initialize the Linear Regression model
Lr = LinearRegression()

# Train the model on the training set
model_fit = Lr.fit(X_train, y_train)

# predict on the training set for comparison
y_train_pred = Lr.predict(X_train)

# Generate predictions on the test set
y_pred = Lr.predict(X_test)

## 3. Calculate and print R-squared for both the training and the testing set.

In [40]:
# Your code here :

# Evaluate the Training model using metrics like Mean Squared Error or R-squared
r2_train = r2_score(y_train, y_train_pred)
print(f"Train R-squared: {r2_train}")

# Evaluate the Test model using metrics like Mean Squared Error or R-squared
r2_test = r2_score(y_test, y_pred)
print(f"Test R-squared: {r2_test}")

Train R-squared: 0.7508856358979673
Test R-squared: 0.6687594935356314

## 4. Calculate and print mean squared error for both the training and the testing set.

In [41]:
# Your code here :

mse_train = mean_squared_error(y_train, y_train_pred)
print(f"Train MSE: {mse_train}")

mse_test = mean_squared_error(y_test, y_pred)
print(f"Test MSE: {mse_test}")

Train MSE: 21.641412753226312
Test MSE: 24.291119474973566

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [42]:
# Your code here : 

from sklearn.metrics import mean_absolute_error

# Calculate MAE for the training set
mae_train = mean_absolute_error(y_train, y_train_pred)
print(f"Training Mean Absolute Error (MAE): {mae_train}")

# Calculate MAE for the testing set
mae_test = mean_absolute_error(y_test, y_pred)
print(f"Testing Mean Absolute Error (MAE): {mae_test}")

Training Mean Absolute Error (MAE): 3.314771626783228
Testing Mean Absolute Error (MAE): 3.1890919658878496

## Classification Model Evaluation

In [43]:
from sklearn.datasets import load_iris
data = load_iris()

In [44]:
print(data.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

|details-start|
**References**
|details-split|

- Fisher, R.A. "The use of multiple measurements in taxonomic problems"
  Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
  Mathematical Statistics" (John Wiley, NY, 1950).
- Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
  (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
- Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
  Structure and Classification Rule for Recognition in Partially Exposed
  Environments".  IEEE Transactions on Pattern Analysis and Machine
  Intelligence, Vol. PAMI-2, No. 1, 67-71.
- Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
  on Information Theory, May 1972, 431-433.
- See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
  conceptual clustering system finds 3 classes in the data.
- Many, many more ...

|details-end|

In [45]:
column_names = data.feature_names
column_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [46]:
df = pd.DataFrame(data['data'],columns=column_names)

In [47]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [48]:
target = pd.DataFrame(data.target)

In [49]:
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [50]:
data['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [51]:
# Your code here :

from sklearn.model_selection import train_test_split

# Features and target are defined
X = df
y = target

# Split the dataset into 80% training and 20% testing
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=42)

print(X.shape)
print(y.shape)

# Print the shapes of the resulting datasets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

(150, 4)
(150, 1)
X_train shape: (120, 4)
X_test shape: (30, 4)
y_train shape: (120, 1)
y_test shape: (30, 1)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [52]:
# Your code here :

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report, recall_score, f1_score

# Initialize the Logistic Regression model
Lr = LogisticRegression()

# Train the model on the training data
model_fit = Lr.fit(X_train, y_train)

# Make predictions on both training and test data
y_train_pred2 = Lr.predict(X_train)
y_test_pred2 = Lr.predict(X_test)

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [54]:
# Your code here :

from sklearn.metrics import accuracy_score, balanced_accuracy_score, precision_score

# Calculate accuracy score for the training and testing sets
accuracy_train = accuracy_score(y_train, y_train_pred2)
accuracy_test = accuracy_score(y_test, y_test_pred2)

print(f"Training Accuracy Score: {accuracy_train}")
print(f"Testing Accuracy Score: {accuracy_test}")

Training Accuracy Score: 0.975
Testing Accuracy Score: 1.0

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [55]:
# Your code here :

# Calculate balanced accuracy score for the training and testing sets
balanced_accuracy_train = balanced_accuracy_score(y_train, y_train_pred2)
balanced_accuracy_test = balanced_accuracy_score(y_test, y_test_pred2)

print(f"Training Balanced Accuracy Score: {balanced_accuracy_train}")
print(f"Testing Balanced Accuracy Score: {balanced_accuracy_test}")

Training Balanced Accuracy Score: 0.975609756097561
Testing Balanced Accuracy Score: 1.0

## 10. Calculate and print the precision score for both the training and the testing set.

In [58]:
# Your code here :

# Calculate precision score for the training and testing sets
# For binary classification, you can use the average='binary' parameter
precision_train = precision_score(y_train, y_train_pred2, average='weighted')
precision_test = precision_score(y_test, y_test_pred2, average='weighted')

print(f"Training Precision Score: {precision_train}")
print(f"Testing Precision Score: {precision_test}")

Training Precision Score: 0.9767857142857144
Testing Precision Score: 1.0

## 11. Calculate and print the recall score for both the training and the testing set.

In [59]:
# Your code here :

# Calculate recall score for the training and testing sets
recall_train = recall_score(y_train, y_train_pred2, average='weighted')
recall_test = recall_score(y_test, y_test_pred2, average='weighted')

# Print the results
print(f"Training Recall Score: {recall_train}")
print(f"Testing Recall Score: {recall_test}")

Training Recall Score: 0.975
Testing Recall Score: 1.0

## 12. Calculate and print the F1 score for both the training and the testing set.

In [60]:
# Your code here :

# Calculate F1 score for the training and testing sets
f1_train = f1_score(y_train, y_train_pred2, average='weighted')
f1_test = f1_score(y_test, y_test_pred2, average='weighted')

print(f"Training F1 Score: {f1_train}")
print(f"Testing F1 Score: {f1_test}")

Training F1 Score: 0.9749882794186592
Testing F1 Score: 1.0

## 13. Generate confusion matrices for both the training and the testing set.

In [61]:
# Your code here :

# Generate confusion matrices for the training and testing sets
conf_matrix_train = confusion_matrix(y_train, y_train_pred2)
conf_matrix_test = confusion_matrix(y_test, y_test_pred2)

print("Training Confusion Matrix:")
print(conf_matrix_train)

print("Testing Confusion Matrix:")
print(conf_matrix_test)

Training Confusion Matrix:
[[40  0  0]
 [ 0 38  3]
 [ 0  0 39]]
Testing Confusion Matrix:
[[10  0  0]
 [ 0  9  0]
 [ 0  0 11]]

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.

In [26]:
# Have fun here !