# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## Regression Model Evaluation

In [2]:
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
data = pd.read_csv('housing.csv', header=None, delimiter=r"\s+", names=column_names)

In [3]:
"""
CRIM - per capita crime rate by town
ZN - proportion of residential land zoned for lots over 25,000 sq.ft.
INDUS - proportion of non-retail business acres per town.
CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)
NOX - nitric oxides concentration (parts per 10 million)
RM - average number of rooms per dwelling
AGE - proportion of owner-occupied units built prior to 1940
DIS - weighted distances to five Boston employment centres
RAD - index of accessibility to radial highways
TAX - full-value property-tax rate per $10,000
PTRATIO - pupil-teacher ratio by town
B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
LSTAT - % lower status of the population
MEDV - Median value of owner-occupied homes in $1000's"""

"\nCRIM - per capita crime rate by town\nZN - proportion of residential land zoned for lots over 25,000 sq.ft.\nINDUS - proportion of non-retail business acres per town.\nCHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)\nNOX - nitric oxides concentration (parts per 10 million)\nRM - average number of rooms per dwelling\nAGE - proportion of owner-occupied units built prior to 1940\nDIS - weighted distances to five Boston employment centres\nRAD - index of accessibility to radial highways\nTAX - full-value property-tax rate per $10,000\nPTRATIO - pupil-teacher ratio by town\nB - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\nLSTAT - % lower status of the population\nMEDV - Median value of owner-occupied homes in $1000's"

In [4]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [5]:
from sklearn.model_selection import train_test_split
y = data['MEDV']  
X = data.drop('MEDV', axis=1) 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2)

print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (404, 13)
X_test shape: (102, 13)
y_train shape: (404,)
y_test shape: (102,)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

lr = LinearRegression()
lr.fit(X_train, y_train)

y_train_pred = lr.predict(X_train)
y_test_pred = lr.predict(X_test)

## 3. Calculate and print R-squared for both the training and the testing set.

In [7]:
train_r2 = r2_score(y_train, y_train_pred)
test_r2 = r2_score(y_test, y_test_pred)

print("Train r²:", train_r2)
print("Test r²:", test_r2)

Train r²: 0.744901245398766
Test r²: 0.700933776257622

## 4. Calculate and print mean squared error for both the training and the testing set.

In [8]:
train_mse = mean_squared_error(y_train, y_train_pred)
test_mse = mean_squared_error(y_test, y_test_pred)

print("Train MSE:", train_mse)
print("Test MSE:", test_mse)

Train MSE: 22.524596976150168
Test MSE: 20.037949807101448

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [9]:
train_mae = mean_absolute_error(y_train, y_train_pred)
test_mae = mean_absolute_error(y_test, y_test_pred)

print("Train MAE:", train_mae)
print("Test MAE:", test_mae)

Train MAE: 3.375753756405079
Test MAE: 3.1684988790259254

## Classification Model Evaluation

In [10]:
from sklearn.datasets import load_iris
data = load_iris()

In [11]:
print(data.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...

In [12]:
column_names = data.feature_names

In [13]:
df = pd.DataFrame(data['data'],columns=column_names)

In [14]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [15]:
target = pd.DataFrame(data.target)

In [16]:
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [28]:
data['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [29]:
X_train, X_test, y_train, y_test = train_test_split(data['data'], data['target'], test_size=.2)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, balanced_accuracy_score, precision_score, f1_score, recall_score, confusion_matrix

lr = LogisticRegression()
lr.fit(X_train, y_train)

y_train_pred = lr.predict(X_train)
y_test_pred = lr.predict(X_test)

## 8. Calculate and print the accuracy score for both the training and the testing set.

**Was es misst:** Der Anteil der korrekten Vorhersagen (sowohl positiv als auch negativ) an allen Vorhersagen.

**Formel:** (TP + TN) / (TP + TN + FP + FN)

In [34]:
train_as = accuracy_score(y_train, y_train_pred)
test_as = accuracy_score(y_test, y_test_pred)

print("Train Accuracy:", train_as)
print("Test Accuracy:", test_as)

Train Accuracy: 0.9666666666666667
Test Accuracy: 1.0

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

**Was es misst:** Der Durchschnitt der Recall-Werte für jede Klasse.

In [21]:
train_bas = balanced_accuracy_score(y_train, y_train_pred)
test_bas = balanced_accuracy_score(y_test, y_test_pred)

print("Train balanced Accuracy:", train_bas)
print("Test balanced Accuracy:", test_bas)

## 10. Calculate and print the precision score for both the training and the testing set.

**Was es misst:** Von allen als positiv vorhergesagten Beispielen, wie viele waren tatsächlich positiv?

**Formel:** TP / (TP + FP)

In [38]:
train_ps = precision_score(y_train, y_train_pred, average='weighted')
test_ps = precision_score(y_test, y_test_pred, average='weighted')

print("Train Precision Score:", train_ps)
print("Test Precision Score:", test_ps)

Train Precision Score: 0.9673863636363634
Test Precision Score: 1.0

## 11. Calculate and print the recall score for both the training and the testing set.

**Was es misst:** Von allen tatsächlich positiven Beispielen, wie viele wurden korrekt als positiv vorhergesagt?

**Formel:** TP / (TP + FN)

In [39]:
train_rs = recall_score(y_train, y_train_pred, average='weighted')
test_rs = recall_score(y_test, y_test_pred, average='weighted')

print("Train Recall Score:", train_rs)
print("Test Recall Score:", test_rs)

Train Recall Score: 0.9666666666666667
Test Recall Score: 1.0

## 12. Calculate and print the F1 score for both the training and the testing set.

**Was es misst:** Das harmonische Mittel von Precision und Recall.

**Formel:** 2 * (precision * recall) / (precision + recall)

In [41]:
train_f1 = f1_score(y_train, y_train_pred, average='weighted')
test_f1 = f1_score(y_test, y_test_pred, average='weighted')

print("Train F1 Score:", train_f1)
print("Test F1 Score:", test_f1)

Train F1 Score: 0.9666477595008509
Test F1 Score: 1.0

## 13. Generate confusion matrices for both the training and the testing set.

**Was es misst:** Eine Tabelle, die zeigt, wie viele Beispiele jeder Klasse korrekt oder falsch klassifiziert wurden.

In [43]:
train_cm = confusion_matrix(y_train, y_train_pred)
test_cm = confusion_matrix(y_test, y_test_pred)

print("Train Confusion Matrix:", train_cm)
print("Test Confusion Matrix:", test_cm)

Train Confusion Matrix: [[36  0  0]
 [ 0 39  3]
 [ 0  1 41]]
Test Confusion Matrix: [[14  0  0]
 [ 0  8  0]
 [ 0  0  8]]

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.

In [51]:
metrics = {
    'accuracy_score': {'max': [None, 0], 'min': [None, 100]},
    'accuracy_score_test': {'max': [None, 0], 'min': [None, 100]},
    'balanced_accuracy_score': {'max': [None, 0], 'min': [None, 100]},
    'balanced_accuracy_score_test': {'max': [None, 0], 'min': [None, 100]},
    'recall_score': {'max': [None, 0], 'min': [None, 100]},
    'recall_score_test': {'max': [None, 0], 'min': [None, 100]},
    'f1_score': {'max': [None, 0], 'min': [None, 100]},
    'f1_score_test': {'max': [None, 0], 'min': [None, 100]}
}

def update_metrics(metric_name, model_name, metric_value):
    scores = metrics[metric_name]
    if scores['max'][1] < metric_value:
        scores['max'] = [model_name, metric_value] 
    if scores['min'][1] > metric_value:
        scores['min'] = [model_name, metric_value] 

for solver in ['lbfgs', 'liblinear', 'newton-cg', 'newton-cholesky', 'sag', 'saga']:
    lr = LogisticRegression(C=0.01, solver=solver)
    lr.fit(X_train, y_train)
   
    y_train_pred = lr.predict(X_train)
    y_test_pred = lr.predict(X_test)
    
    train_as = accuracy_score(y_train, y_train_pred)
    update_metrics('accuracy_score', solver, train_as)
    
    test_as = accuracy_score(y_test, y_test_pred)
    update_metrics('accuracy_score_test', solver, train_as)
    
    train_bas = balanced_accuracy_score(y_train, y_train_pred)
    update_metrics('balanced_accuracy_score', solver, train_bas)
    
    test_bas = balanced_accuracy_score(y_test, y_test_pred)
    update_metrics('balanced_accuracy_score_test', solver, test_bas)
    
    train_rs = recall_score(y_train, y_train_pred, average='weighted')
    update_metrics('recall_score', solver, train_rs)
    
    test_rs = recall_score(y_test, y_test_pred, average='weighted')
    update_metrics('recall_score_test', solver, test_rs)
    
    train_f1 = f1_score(y_train, y_train_pred, average='weighted')
    update_metrics('f1_score', solver, train_f1)
    
    test_f1 = f1_score(y_test, y_test_pred, average='weighted')
    update_metrics('f1_score_test', solver, test_f1)
    
metrics

{'accuracy_score': {'max': ['lbfgs', 0.8666666666666667],
  'min': ['liblinear', 0.65]},
 'accuracy_score_test': {'max': ['lbfgs', 0.8666666666666667],
  'min': ['liblinear', 0.65]},
 'balanced_accuracy_score': {'max': ['lbfgs', 0.873015873015873],
  'min': ['liblinear', 0.6666666666666666]},
 'balanced_accuracy_score_test': {'max': ['lbfgs', 0.9166666666666666],
  'min': ['liblinear', 0.6666666666666666]},
 'recall_score': {'max': ['lbfgs', 0.8666666666666667],
  'min': ['liblinear', 0.65]},
 'recall_score_test': {'max': ['lbfgs', 0.9333333333333333],
  'min': ['liblinear', 0.7333333333333333]},
 'f1_score': {'max': ['lbfgs', 0.8628571428571429],
  'min': ['liblinear', 0.5333333333333333]},
 'f1_score_test': {'max': ['lbfgs', 0.9322751322751323],
  'min': ['liblinear', 0.6444444444444444]}}